body{
    margin-top: 0px;
    margin-right: 0px;
}
.TopContainer{
    background-color: red;
    width:150px;
    height: 150px;
    border:solid 10px;
    padding: 20px;
}

.middleContainer{
    background-color: green;
    width:150px;
    height:150px;
    border :solid 20px;
    margin-left: 210px;
}


.bottomContainer{
    background-color: yellow;
    width:150px;
    height: 150px;
    border:solid 10px;
    margin-left:400px;

}